/* i did responsive with bootstrap class  */
body {
  width: 100%;
  margin: 0px;
}
.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border-top: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.icon {
  padding: 10px;
  border-radius: 8px;
}

.icon img {
  width: 40px;
  height: 40px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.description {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}
.custom-footer {
  background-color: #1e2d36;
  color: white;
  padding: 40px 20px;
  font-family: "Segoe UI", sans-serif;
}

.custom-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.custom-footer-brand {
  flex: 1 1 250px;
}

.custom-footer-logo {
  height: 30px;
  vertical-align: middle;
  margin-right: 8px;
}

.custom-footer-socials a img {
  width: 20px;
  margin-right: 12px;
  filter: brightness(0) invert(1);
  /* used filter to make icon white */
}
.sent-icon {
  filter: brightness(0) invert(1);
}
.custom-footer-links {
  display: flex;
  gap: 60px;
}

.custom-footer-links h4,
.custom-footer-newsletter h4 {
  margin-bottom: 12px;
  font-size: 16px;
}

.custom-footer-links ul {
  list-style: none;
  padding: 0;
}

.custom-footer-links li {
  margin-bottom: 8px;
}

.custom-footer-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.custom-footer-links a:hover {
  color: #fff;
}

.custom-footer-newsletter {
  flex: 1 1 250px;
}

.custom-footer-input {
  display: flex;
  align-items: center;
  background: #2f3b43;
  padding: 6px 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.custom-footer-input input {
  border: none;
  background: transparent;
  color: white;
  outline: none;
  flex: 1;
}

.custom-footer-input button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.card-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.overlay-content {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  border-radius: 12px;
  background-color: #f5f7fa;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.overlay-content h6 {
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

.overlay-content a {
  font-weight: bold;
  color: #4caf4f;
  text-decoration: none;
}

.overlay-content a:hover {
  text-decoration: underline;
  /*  shifts the element left by 50% of its own width */
}
/* rakibur rahman ratul */
